.searchPopper {
  /* width: 100%;
  height: 93%;
  background: #fff;
  top: 60px !important;
  left: 15px; */
}

/* .listBottomBorder {
  border-bottom: 1px solid red;
} */

.stickyFooterLinks {
  background: #3f51b5 !important;
  position: fixed !important;
  bottom: 0 !important;
  width: 100% !important;
  z-index: 1;
}

.alice-carousel__stage-item {
  /* padding: 0 10px !important; */
  vertical-align: initial !important;
}

.badgeStyle span {
  top: 21px !important;
  left: -7px !important;
  transform: none !important;
  transform-origin: inherit !important;
  width: 40px !important;
  border-radius: 4px !important;
}

.gener-btn {
  font-size: 11px !important;
}

.active {
  background: #3f51b5 !important;
  color: #fff !important;
  font-size: 11px !important;
}

.green span {
  background: #3bb33b !important;
}

.grey span {
  background: #bdbdbd !important;
  color: #000 !important;
}

.react-photo-gallery--gallery div img {
  border-radius: 5px !important;
}

/* Top Billed Cast */

.imagecontainer {
  position: relative;
  cursor: pointer;
}

.imagecontainer .image {
  opacity: 1;
  display: block;
  width: 85%;
  height: 80px;
  transition: 0.5s ease;
  backface-visibility: hidden;
  margin: 0 auto;
  border-radius: 3px;
  object-fit: cover;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.imagecontainer .middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imagecontainer:hover .image {
  opacity: 0.3;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.imagecontainer:hover .middle {
  opacity: 1;
}

.imagecontainer .text {
  background-color: #4caf50;
  color: white;
  font-size: 11px;
  padding: 10px;
}

.searchForm input {
  padding: 7px !important;
  font-size: 11px !important;
  width: 300px;
  border: 1px solid #3f51b5;
  border-radius: 5px;
}

.pswp-thumbnail {
  display: inline-block;
  width: 120px;
  height: 90px;
  margin: 0 10px 10px 0;
  cursor: pointer;
}

.pswp-thumbnail img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 3px;
}

.pswp img {
  object-fit: contain !important;
}

.searchInputForm {
  text-align: center !important;
  padding: 20px 0;
}

.searchInputForm div.MuiInputBase-fullWidth {
  width: auto !important;
}

.moviesSearchPage {
  text-align: right !important;
}

.moviesSearchPage .MuiInputBase-fullWidth { 
  width: auto !important;
}

.snackbarStyle .MuiSnackbarContent-root {
  background-color: #f44336 !important;
  text-align: center !important;
}

.snackbarStyle .MuiSnackbarContent-root .MuiSnackbarContent-message {
  width: 100% !important;
}

.movie-info {
  position: relative;
}

.bookModelContainer {
  width: 500px;
  height: 50vh;
}

.button .MuiButton-label {
  font-size: 12px;
}

.button, .button.active {
  font-size: 12px;
}